
<div class="row OTIntegrationRowDiv">
    <div class="col-md-1 "></div>
    <div class="col-md-2">
        Locations
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" value="" id="location" />
    </div>
</div>

<div class="row OTIntegrationRowDiv">
    <div class="col-md-1 "></div>
    <div class="col-md-2">
        CropType
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" value="" id="croptype" />
    </div>
</div>

<div class="row OTIntegrationRowDiv">
    <div class="col-md-1 "></div>
    <div class="col-md-2">
        VarietyType
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" value="" id="varietytype" />
    </div>
</div>

<div class="row OTIntegrationRowDiv">
    <div class="col-md-1 "></div>
    <div class="col-md-2">
        PesticidesLastTreatment
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" value="" id="pestlasttreat" />
    </div>
</div>

<div class="row OTIntegrationRowDiv">
    <div class="col-md-1 "></div>
    <div class="col-md-2">
        HarvestDate
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" value="" id="harvestdate" />
    </div>
</div>

<h5 class="OTIntegrationh5">LabAnalysis</h5>
<div class="row OTIntegrationRowDiv">
    <div class="col-md-1 "></div>
    <div class="col-md-2">
        SugarContent
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" value="" id="sugarcontent" />
    </div>
</div>
<div class="row OTIntegrationRowDiv">
    <div class="col-md-1 "></div>
    <div class="col-md-2">
        Acid
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" value="" id="acid" />
    </div>
</div>
<div class="row OTIntegrationRowDiv">
    <div class="col-md-1 "></div>
    <div class="col-md-2">
        pH
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" value="" id="phvalue" />
    </div>
</div>
<h5 class="OTIntegrationh5">WineBook</h5>
<div class="row OTIntegrationRowDiv">
    <div class="col-md-1 "></div>
    <div class="col-md-2">
        BatchNumber
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" value="" id="batchnum" />
    </div>
</div>

<div class="row OTIntegrationRowDiv">
    <div class="col-md-1 "></div>
    <div class="col-md-2">
        Sulfur
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" value="" id="sulfur" />
    </div>
</div>

<div class="row OTIntegrationRowDiv">
    <div class="col-md-1 "></div>
    <div class="col-md-2">
        TypeOfWine
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" value="" id="typeofwine" />
    </div>
</div>

<div class="row OTIntegrationRowDiv">
    <div class="col-md-1 "></div>
    <div class="col-md-2">
        vk_NumberOfBottles
    </div>
    <div class="col-md-9">
        <input type="number" class="form-control" value="" id="numberofbottles" />
    </div>
</div>

<h5 class="OTIntegrationh5">WineryConditions</h5>
<div class="row OTIntegrationRowDiv">
    <div class="col-md-1 "></div>
    <div class="col-md-2">
        Temperature
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" value="" id="temperature" />
    </div>
</div>

<button class="btn btn-success OTIntegrationh5" id="saveBtn"> Save</button>

@section scripts
{

    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="@Url.Content("~/Scripts/dist/dkg.min.js")"></script>
    <script src="@Url.Content("~/Scripts/test.js")"></script>
}